{
   "data": {
       "type": "storageServer",
       "attributes": {
         "name": "{{ adv_local_ss_hostname }}",                        
         "storageCategory": "ADVANCED_DISK",
        "mediaServerDetails": {
            "name": "{{ adv_local_ss_hostname }}"
        },
         "encryptionEnabled": "{{ adv_local_ss_encryption }}",
         "advancedDiskAttributes": {
           "isPreferredForRestore": false,
           "isRequiredForRestore": false,
           "isRequiredForDuplication": false
         }           
      }
   }
}