{
    "serverName": "{{ nbu_vmware_server }}",
    "vmType": "{{ nbu_vmware_type }}",
    "userId": "{{ nbu_vmware_username }}",
    "password": "{{ nbu_vmware_password }}",
    "port": "{{ nbu_vmware_port }}",
    "validate": "{{ nbu_vmware_validate }}"
}