{
    "data": {
        "type": "backupRequest",
        "attributes": {
            "policyName": "{{ nbu_policy_name }}",
            "scheduleName": "{{ nbu_sched_name }}",
            "clientName": "{{ nbu_client_name }}"
        }
    }
} 
