{
    "data": {
        "type": "universalShareStorage",
        "attributes": {
            "displayName": "{{ nbu_us_name }}",
            "protocol": "{{ nbu_us_protocol }}",
            "clients": [
                {
                    "client": "{{ nbu_us_clients }}"
                }
            ]
        }
    }
}
